<app-title title="Cart Page" margin="1.5rem 0"></app-title>
<div class="container">
  <ng-container *ngIf="cart.items.length === 0">
    <div>Cart is empty</div>
  </ng-container>
  <div class="row" style="position: relative">
    <div class="col-md-9">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-around align-items-center" *ngFor="let cartItem of cart.items">
          <div>
            <img class="img-fluid rounded" width="200" [src]="cartItem.food.imageUrl" [alt]="cartItem.food.name">
          </div>
          <div>
            <a routerLink="/food/{{cartItem.food.id}}">
              {{cartItem.food.name}}
            </a>
          </div>
          <div>
            <select #quantitySelect
                    [value]="cartItem.quantity"
                    (change)="changeQuantity(cartItem, quantitySelect.value)">
              <option value="1">&nbsp; 1 &nbsp;</option>
              <option value="2">&nbsp; 2 &nbsp;</option>
              <option value="3">&nbsp; 3 &nbsp;</option>
              <option value="4">&nbsp; 4 &nbsp;</option>
              <option value="5">&nbsp; 5 &nbsp;</option>
            </select>
          </div>
          <div>
            {{cartItem.price | currency}}
          </div>

          <div class="">
            <button class="btn btn-sm btn-danger" (click)="removeFromCart(cartItem)">Remove</button>
          </div>
        </li>
      </ul>
    </div>
    <div style="height: 50vh; position: fixed; right: 8rem" class="col-md-3 border rounded-4 p-3 d-flex flex-column align-items-center justify-content-around">
      <div *ngIf="cart.items.length > 0">
        <div> <strong> Total Items: </strong> {{cart.totalCount}}</div>
        <div> <strong>Total Price: </strong> {{cart.totalPrice | currency}}</div>
        <a class="w-100 btn btn-success btn-sm flex-grow-1" routerLink="/checkout">Proceed to checkout</a>
      </div>
    </div>
  </div>

</div>
