<div class="container pt-5 mt-5">
  <app-not-found-page
  [visible]="!food.id"
  notFoundMessage="Food not found"
  resetLinkText="Back to home page"
  ></app-not-found-page>
  <div class="row" *ngIf="food?.id">
    <div class="col-md-6">
    <img class="img-fluid rounded-5" [src]="food.imageUrl" [alt]="food.name">
    </div>
    <div class="details col-md-6 d-flex flex-column justify-content-center w-25">
      <div class="header d-flex justify-content-between">
      <span class="name fw-bold fs-3">
        {{food.name}}
      </span>
        <span class="fs-3"class="favourite {{food.favourite ? '' : 'text-dark'}}">🤍</span>
      </div>
      <div class="rating">
        <star-rating
          [value]="food.stars || 0"
          [totalstars]="5"
          checkedcolor="lightgreen"
          uncheckedcolor="lightpink"
          size="25px"
          [readonly]="true"
        >
        </star-rating>
      </div>
      <div class="origin my-3">
      <span class="bg-secondary me-2 py-2 px-3 text-white rounded-pill" *ngFor="let origin of food.origins">
        {{origin == 'us' ? (origin | uppercase) : (origin | titlecase)}}
      </span>
      </div>

      <div class="tags my-3">
        <a *ngFor="let tag of food.tags" routerLink="/tag/{{tag}}"> {{tag}}</a>
      </div>
      <div class="cook-time">
      <span>
        Time to cook; about <strong>{{food.cookTime}}</strong>
      </span>
      </div>
      <div class="price my-4">
      <span class="">
        {{food.price | currency}}
      </span>
      </div>

      <button (click)="addToCart()" class="btn btn-warning text-white btn-lg">Add to cart</button>
    </div>
  </div>
</div>
